<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1024" />
<meta name="baidu-site-verification" content="3ztG4oI0ku" />
<title>聚宝盆电子商务有限公司</title>
<meta name="description" content="台州 开网店 淘宝创业 聚宝盆电子商务,为中小企业实现电子商务全程服务,九大服务：网络商城，网络分销，电子商务培训，服务外包，ERP服务，仓储物流，产品设计，品牌战略，园区服务" />
<meta name="keywords" content="台州,开网店,聚宝盆,淘宝,创业,青年,物流,电子商务,商城建设,淘宝商城申请" />
<link href="http://www.jubaopen.cn/css/head.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://www.jubaopen.cn/css/style.css" type="text/css" media="all" />
<link href="http://www.jubaopen.cn/css/index.css" rel="stylesheet" type="text/css">
<script src="http://www.jubaopen.cn/js/html5media.min_.js"></script>
</head>
<body id="ruifoxHome">



<div id="hheader">
    <div class="head" style="height:62px;">
	<div class="nav">
    <ul class="nav_ul">
    <li id="li1" style="border-right:1px solid #afafaf"><a href="Index.aspx">首&nbsp;&nbsp;页</a></li>
    <li id="li2" style="border-right:1px solid #afafaf"><a href="Custom.aspx">产品服务</a></li>
    <li id="li3" style="border-right:1px solid #afafaf"><a href="NewsList.aspx">新闻中心</a></li>
    <li id="li4" style="border-right:1px solid #afafaf"><a href="Recruitment.aspx">招贤纳士</a></li>
    <li id="li5"><a href="AboutUs.aspx">关于聚宝盆</a></li>

    </ul>
    </div>
	<img src="http://www.jubaopen.cn/img/logo.png" width="248" height="47">
	
    </div>
</div>

<script type="text/javascript">
    var l = window.location.href;
    if (l == "http://web.jubaopen.cn/" || l.toLowerCase().indexOf("index") != -1) {
        var hhead = document.getElementById("hheader");
        hhead.style.position = "fixed";
        document.getElementById("li1").className = "nav_li";
    }
    else if (l.toLowerCase().indexOf("custom") != -1) {
        document.getElementById("li2").className = "nav_li";
    }
    else if (l.toLowerCase().indexOf("news") != -1) {
        document.getElementById("li3").className = "nav_li";
    }
    else if (l.toLowerCase().indexOf("recruitment") != -1 || l.toLowerCase().indexOf("resume") != -1) {
        document.getElementById("li4").className = "nav_li";
    }
    else if (l.toLowerCase().indexOf("aboutus") != -1) {
        document.getElementById("li5").className = "nav_li";
    }
</script>

<!-- 查找最顶级栏目  -->
<div id="banner">
  <ul id="banner_img">
    <li style="background-image:url(img/banner_bg1.jpg);display:block">
      <div class="wrapper">
        <div class="ad_txt">
        	<img src="http://www.jubaopen.cn/img/zz1.png" width="401">
        </div>
        <div class="ad_img">
        	<img src="http://www.jubaopen.cn/img/1.png" width="506" height="404" alt="" />
        </div>
      </div>
    </li>
    <li style="background-image:url(img/banner_bg2.jpg);">
      <div class="wrapper">
        <div class="ad_txt">
          <img src="http://www.jubaopen.cn/img/zz2.png" width="401">
        </div>
        <div class="ad_img">
        	<img src="http://www.jubaopen.cn/img/2.png" width="506" height="404" alt="" />
        </div>
      </div>
    </li>
    <li style="background-image:url(img/banner_bg3.jpg);">
      <div class="wrapper">
        <div class="ad_txt">
        	<img src="http://www.jubaopen.cn/img/zz3.png" width="401">
        </div>
        <div class="ad_img">
        	<img src="http://www.jubaopen.cn/img/3.png" width="506" height="404" alt="" />
        </div>
      </div>
    </li>
    <li style="background-image:url(img/banner_bg4.jpg);">
      <div class="wrapper">
        <div class="ad_txt">
          <img src="http://www.jubaopen.cn/img/zz4.png" width="401">
        </div>
        <div class="ad_img">
        	<img src="http://www.jubaopen.cn/img/4.png" width="506" height="404" alt="" />
        </div>
      </div>
    </li>
    <li style="background-image:url(img/banner_bg5.jpg);">
      <div class="wrapper">
        <div class="ad_txt">
          <img src="http://www.jubaopen.cn/img/zz5.png" width="401">
        </div>
        <div class="ad_img">
        	<img src="http://www.jubaopen.cn/img/5.png" width="506" height="404" alt="" />
        </div>
      </div>
    </li>
    <li style="background-image:url(img/banner_bg6.jpg);">
      <div class="wrapper">
        <div class="ad_txt">
          <img src="http://www.jubaopen.cn/img/zz6.png" width="401">
        </div>
        <div class="ad_img">
        	<img src="http://www.jubaopen.cn/img/6.png" width="506" height="404" alt="" />
        </div>
      </div>
    </li>
    <li style="background-image:url(img/banner_bg7.jpg);">
      <div class="wrapper">
        <div class="ad_txt">
          <img src="http://www.jubaopen.cn/img/zz7.png" width="401" >
        </div>
        <div class="ad_img">
        	<img src="http://www.jubaopen.cn/img/7.png" width="506" height="404" alt="" />
        </div>
      </div>
    </li>
    <li style="background-image:url(img/banner_bg8.jpg);">
      <div class="wrapper">
        <div class="ad_txt">
          <img src="http://www.jubaopen.cn/img/zz8.png" width="401" >
        </div>
        <div class="ad_img">
        	<img src="http://www.jubaopen.cn/img/8.png" width="506" height="404" alt="" />
        </div>
      </div>
    </li>
    <li style="background-image:url(img/banner_bg9.jpg);">
      <div class="wrapper">
        <div class="ad_txt">
          <img src="http://www.jubaopen.cn/img/zz9.png" width="401">
        </div>
        <div class="ad_img">
        	<img src="http://www.jubaopen.cn/img/9.png" width="506" height="404" alt="" />
        </div>
      </div>
    </li>
  </ul>
  <div id="banner_ctr">
    <div id="drag_ctr"></div>
    <ul>
      <li class="first-item"></li>
      <li><a href="CustomDetail.aspx?name=wlsc">网络商城</a></li>
      <li> <a href="CustomDetail.aspx?name=wlfx">网络分销</a></li>
      <li><a href="http://peixun.jubaopen.cn" target="_blank">电商培训</a></li>
      <li> <a href="http://www.caidaolai.com/" target="_blank">人才服务</a></li>
      <li> <a href="CustomDetail.aspx?name=sjfw">软件数据</a></li>
      <li> <a href="CustomDetail.aspx?name=ccwl">仓储物流</a></li>
      <li> <a href="CustomDetail.aspx?name=cpsj">产品设计</a></li>
      <li> <a href="CustomDetail.aspx?name=ppzl">品牌战略</a></li>
      <li><a href="CustomDetail.aspx?name=yqfw">园区服务</a></li>
      <li class="last-item">网站设计  <a href="#"></a></li>
    </ul>
    <div id="drag_arrow" style="pointer-events: none;"></div>
  </div>
</div>
<div class="center">
  <div class="movie">
    	<div class="swf">
        <script type="text/javascript">
            function playPause() {
                var myVideo = document.getElementById("video1");
                if (myVideo.paused) {
                    myVideo.play();
                }
                else {
                    myVideo.pause();
                }
            }
        </script>
		
        <video width="290" height="144" controls="controls" id="video1">
            <!--<source src="movie.ogg" type="video/ogg">-->
            <source src="150114.mp4" type="video/mp4"  controls preload>
           <object classid="clsid:22d6f312-b0f6-11d0-94ab-0080c74c7e95" id="mediaplayer" width="290" height="144"> 
<embed> 
<param name="SRC" value="150114.mp4"> 
</embed> 
</object> 
        </video>
        </div><!--swf-->
        <div class="text"><img style=" cursor:pointer;" src="http://www.jubaopen.cn/img/jt.png" width="12" height="11" onclick="playPause()">聚宝公社双12活动，电商掘金线下O2O</div><!---->
  </div><!--movie-->
  <div class="dustry">
  <div class="title">行业新闻<span class="more"><a href="NewsList.aspx" target="_blank">more</a></span></div><!--title-->
  <div class="new">
  <div class="left"><img src="http://www.jubaopen.cn/img/new.jpg" width="110" height="68"></div>
  <div class="right">
  <div class="sm"><a href="#" target="_blank">享淘宝•聚朋友</a></div>
  <div class="xm">炎炎夏日，阻挡不了聚宝盆会员的学习热情。7月14日在聚宝盆电子商务公司的精心筹备</div>
  </div>
  </div><!--new-->
  <ul class="new_ul">
  
            <li><a title="台州市委葛书记来聚宝盆公司调研农村电子商务工作" style="display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;" href="NewsDetail.aspx?news_category_id=3&news_id=193" target="_blank">台州市委葛书记来聚宝盆公司调研农村电子商务工作</a></li>
            
            <li><a title="资源对接、合作共羸 ----------电商资源巡回对接大会（台州站）" style="display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;" href="NewsDetail.aspx?news_category_id=1&news_id=192" target="_blank">资源对接、合作共羸 ----------电商资源巡回对接大会（台州站）</a></li>
            
            <li><a title="天台县组织部、商务局领导莅临聚宝盆参观考察" style="display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;" href="NewsDetail.aspx?news_category_id=1&news_id=191" target="_blank">天台县组织部、商务局领导莅临聚宝盆参观考察</a></li>
            
  
  </ul>
  </div><!--dustry-->
  <div class="dustry" style=" margin-left:50px;">
  <div class="title">电子商务进万村<span class="more"><a href="http://www.jbpsq.com" target="_blank">more</a></span></div><!--title-->
  <img style=" margin-top:15px;" src="http://www.jubaopen.cn/img/ifgo.png" />
  </div>
  </div><!--center-->
<div class="clear"></div>



<div class="foot">
<div class="foot1">
<div class="foot_right">
<div class="foot_link"><a href="http://www.jbpsq.com" target="_blank">浙江省电子商务进万村</a> &nbsp;<a href="http://www.fanniuwang.com/" target="_blank">凡牛网</a>&nbsp; <a href="http://www.yunchuangzao.com/" target="_blank">云创造</a>&nbsp; <a href="http://www.huichudian.com/" target="_blank">会触电</a>&nbsp; <a href="http://www.juchuangzao.com/" target="_blank">聚创造</a></div>
<div class="foot_link">版权所有 © 2010-2015 浙江聚宝盆电子商务有限公司<br />ICP备案号：浙ICP备13013097号</div>
</div><!--foot_right-->
</div><!--foot1-->
</div>
<!--foot-->
<script type="text/javascript" src="http://www.jubaopen.cn/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://www.jubaopen.cn/js/jquery.plugin.min.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="http://www.jubaopen.cn/killie6.js"></script>
<![endif]-->
<script type="text/javascript">
//<![CDATA[
	//Nav Start
	$("header>div>nav>ul>li>a").hover(function(){
		$(this).parent().stop(false,true).animate({"background-position-x":"6px",opacity:"0.7"},{duration:"normal", easing: "easeOutElastic"});
	},function(){
		$(this).parent().stop(false,true).animate({"background-position-x":"10px",opacity:"1"},{duration:"normal", easing: "easeOutElastic"});
	});
	<!--- 首页 ---->
	$('.ad_img,#banner_ctr,#client').pngFix();
	$(window).scroll(function(){
		$(this).scrollTop()>80?$("#navbg").stop(false,true).animate({opacity:"1"},"normal"):$("#navbg").stop(false,true).animate({opacity:"0.8"},"normal");
	});
	//Banner Start
	var curIndex=0;
	var time=800;
	var slideTime=5000;
	var adTxt=$("#banner_img>li>div>.ad_txt");
	var adImg=$("#banner_img>li>div>.ad_img");
	var int=setInterval("autoSlide()",slideTime);

	$("#banner_ctr>ul>li[class!='first-item'][class!='last-item']").mouseover(function(){
		show($(this).index("#banner_ctr>ul>li[class!='first-item'][class!='last-item']"));
		window.clearInterval(int);
		int=setInterval("autoSlide()",slideTime);
	});
	
	$("#banner_ctr>ul>li[class!='first-item'][class!='last-item']").click(function(){
		show($(this).index("#banner_ctr>ul>li[class!='first-item'][class!='last-item']"));
		window.clearInterval(int);
		int=setInterval("autoSlide()",slideTime);
	});
	
	function autoSlide(){
		curIndex+1>=$("#banner_img>li").size()?curIndex=-1:false;
		show(curIndex+1);
	}
	function show(index){
		$.easing.def="easeOutQuad";
		$("#drag_ctr,#drag_arrow").stop(false,true).animate({left:index*100+30},300);
		$("#banner_img>li").eq(curIndex).stop(false,true).fadeOut(time);
		adTxt.eq(curIndex).stop(false,true).animate({top:"340px"},time);
		adImg.eq(curIndex).stop(false,true).animate({right:"120px"},time);
		setTimeout(function(){
			$("#banner_img>li").eq(index).stop(false,true).fadeIn(time);
			adTxt.eq(index).children("p").css({paddingTop:"50px",paddingBottom:"50px"}).stop(false,true).animate({paddingTop:"0",paddingBottom:"0"},time);
			adTxt.eq(index).css({top:"0",opacity:"0"}).stop(false,true).animate({top:"170px",opacity:"1"},time);
			adImg.eq(index).css({right:"-50px",opacity:"0"}).stop(false,true).animate({right:"10px",opacity:"1"},time);
		},200)
		curIndex=index;
	}
	//Banner End
	//Cases Start
	if($.support.transition){
		$("#cases>ul>li").hover(function(){
			$("img",this).stop(false,true).transition({
				perspective: '300px',
				rotateY: '180deg',
				opacity: '0'
			});
			$("p",this).css({display:'block',opacity:'0',rotateY: '-180deg'}).stop(false,true).transition({
				perspective: '300px',
				rotateY: '0deg',
				opacity: '1'
			});
		},function(){
			$("img",this).show().stop(false,true).transition({
				perspective: '300px',
				rotateY: '0deg',
				opacity: '1'
			});
			$("p",this).stop(false,true).transition({
				perspective: '300px',
				rotateY: '180deg',
				opacity: '0'
			});
		});
	}else{
		$("#cases>ul>li").hover(function(){
			$("img",this).stop(false,true).slideUp("fast");
			$("p",this).stop(false,true).slideDown("fast");
		},function(){
			$("img",this).stop(false,true).slideDown("fast");
			$("p",this).stop(false,true).slideUp("fast");
		});
	}
	$("#cases>ul>li>img").lazyload({effect:"fadeIn",failurelimit:10});
						$("#gotop").click(function(){$('body,html').animate({scrollTop:0},500);})
	
//]]>
</script>
</body>
</html>