
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="<{$res}>/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="<{$res}>/css/admin-all.css" />
    <script type="text/javascript" src="<{$res}>/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="<{$res}>/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="<{$res}>/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
            $('.alert-danger').find('b').click(function () {
                $('.task').toggle();
            })
        })
    </script>
</head>
<body>
    <div class="alert alert-info">当前位置<b class="tip"></b>系统首页<b class="tip"></b>系统介绍</div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">关于系统</a></li>
            <li><a href="#tabs-2">系统愿景</a></li>
            <li><a href="#tabs-3">系统团队</a></li>
        </ul>
        <div id="tabs-1">
            <p>欢迎使用本系统，该系统基于BroPHP框架，BroPHP是一个免费开源的轻量级PHP框架，允许你把基于BroPHP框架开发的应用去开源或是商业产品发布或销售。BroPHP框架完全采用面向对象的设计思想，并且是基于MVC的三层设计模式。具有部署和应用及为简单、效率高、速度快，扩展性和可维护性都很好等特点，可以稳定的用于商业及门户的开发。</p>
        </div>
        <div id="tabs-2">
            <p>施者之福胜于受者。馈赠之道不仅仅是一种人与人的交往方式，更是情感交流与反馈的渠道。本系统并非普通的商品，更包含了寄情于礼的情感升华。为此，本系统将致力于保持服务商定位，在喧嚣的社会洪流中，为您提供一条清幽的捷径。</p>
        </div>
        <div id="tabs-3">
            <p>我们会面红耳赤地讨论，只为向您提供最棒的作品；我们有时也会犯错，但绝不会再犯同样的错。我们倾听您的每一条建议，优化每一个细节，只希望服务更体贴，最大程度给您带来便捷。年轻的头脑催生了无数光怪陆离但又令人惊羡的idea；文艺的熏陶造就了一丝与年龄不甚相符的沉稳气质，处处透着文艺范儿；对已有服务的不断优化与反思，更是我们责任心的体现。</p>
        </div>
    </div>
    <div class="alert alert-danger">
        <b><a href="javascript:void(0)">我的OA管理<i class="tip-up-red"></i></a></b>
        <div class="task">
            <p></p>
            <p><i class="tip-left"></i>系统管理：</p>
            <p>包括用户管理、权限管理、角色管理、系统设置等功能。</p>
            <p><i class="tip-left"></i>新闻管理： </p>
            <p>实现新闻的添加、修改、删除、发布等功能。</p>
            <p><i class="tip-left"></i>留言管理： </p>
            <p>实现留言的添加、修改、删除、发布等功能。 </p>
            <p><i class="tip-left"></i>模板管理：</p>
            <p>实现前台模板的修改、添加模版、模板重命名、模板删除等功能。</p>
            <p><i class="tip-left"></i>相册管理：</p>
            <p>实现批量上传图片，删除图片，图片放大预览、图片查询等功能。</p>
            <p><i class="tip-left"></i>技术支持：</p>
            <p>联系网站：微信生意通(weixinsyt.com)&nbsp;&nbsp;&nbsp;&nbsp;联系邮箱：1344372801@qq.com</p>
        </div>
    </div>
</body>
</html>

