<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>系统提示消息</title>

	        <link rel="stylesheet" type="text/css" href="<{$res}>/css/chur.css" />
                <link rel="stylesheet" type="text/css" href="<{$res}>/css/bootstrap.min.css" />
	</head>
	<body>
		 <div class="chur-alert"><div class="alert alert-<{$flag}>">
                 <h4 class="alert-heading">成功提示</h4>
                 <div class="context"><{$mess}></div>
                 <div class="rightbtn">在( <span id="sec" style="color:blue;font-weight:bold"><{$timeout}></span> )秒后自动跳转，或直接点击 <a href="javascript:<{$location}>"><font color="red" >这里</font></a> 跳转&nbsp;&nbsp;
		<span style="display:block;text-decoration:underline;cursor:pointer;margin-right:7px;color:red;" onclick="stop(this)">停止</span></div>
                 </div>
                 </div>
                 </div>
                 <iframe class="alert-modal"></iframe>
						
	</body>

        <script>
		 		var seco=document.getElementById("sec");
				var time=<{$timeout}>;
				var tt=setInterval(function(){
						time--;
						seco.innerHTML=time;	
						if(time<=0){
							<{$location}>
							return;
						}
					}, 1000);
				function stop(obj){
					clearInterval(tt);
					obj.style.display="none";
				}
		</script>

</html>
